torch
torchvision
flask_cors
werkzeug
dependency-injector
apscheduler
flask
sqlalchemy
pg8000
requests
waitress
flask_restful

faiss-cpu
scipy
insightface
opencv-python
onnxruntime
onnxruntime-gpu
onnx

numpy
Pillow
scikit-learn